# dependencies
/node_modules
/.pnp
.pnp.*

# build outputs
/.next/
/out/
/build

# logs
*.log
.pnpm-debug.log*

# misc
.DS_Store
.vscode/*
!.vscode/settings.json

# env
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
